.App {
  text-align: center;
}

.nav {
  background-color: whitesmoke;
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  text-decoration: none;
  border-bottom: 1px solid #003049;
  z-index: 2;
  list-style:none;
  text-align: center;
  font-size: 20px;
  position: fixed;
}

.nav-left {
  padding-left: 11vh;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.nav-danober {
  font-size: 26px;
  color: rgb(0, 0, 0);
  padding-top: 0px;
  padding-right: 30px;
  text-shadow: 2px 1px 15px rgba(71, 184, 255, 0.3);
}


.nav-right {
  padding-right: 50px;
}

.nav a {
  display:inline-block;
  text-decoration: none;
  padding:30px;
  color:rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.nav a:hover {
  font-weight: bold;
  color:black;
}

.nav a:active {
  color:tomato;
}

.dan-ober {
  /* display: flex;
  flex-direction: row; */
  height: 80vh;
  margin-top: 14vh;
  /* margin-left: 100vh; */
  position: fixed;
  z-index: 0;
}

.home-container,
.about-container,
.projects-container,
.contact-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin-top: 75px;
}

/* .about-container {
  display: flex;
  flex-direction: row;
} */

.layout {
  display: flex;
  flex-direction: row;
  background-color:rgb(0, 0, 0, 0.9);
  background-size:auto;
  width: 100%;
  min-height: 100vh;
  z-index: -3;
}

.layout-left {
  color:whitesmoke;
  margin: 5vh 15vh 5vh 15vh;
  position:sticky;
  max-width: 100vh;
}

p {
  font-size: 22px;
}

a {
  color:tomato;
}

li {
  font-size: 25px;;
}
/* .bg-img {
  width: 100%;
  box-shadow: teal;
} */

.home-header,
h2 {
  line-height: 0px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 4px;

}

.projects-main-container {
  /* width: 150vh; */
  z-index: 1;
  padding-top: 10vh;
}

/* .stack-list {
  min-height: 60vh;
} */

.project-container-a,
.project-container-b {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin: 20vh;
  /* margin: 5vh 15vh 5vh 15vh; */
}

.project-container-right {
  display: flex;
  -ms-flex-direction: column;
}

/* .project-container-b {
  background-color:rgba(0, 0, 0, 0.303);
} */

.project-logo-doberpop {
  height: 120px;
}

.project-logo-sunday-driver {
  height: 65px;
}

.project-logo-artist-abc {
  height: 100px;
}

.project-logo-hot-chicken-heroes {
  height: 120px;
}

.project-image {
  height: 65vh;
  z-index: 1;
}

/* .project-description {
  padding-left: 20px;
} */

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  padding-bottom: 8px;
}

input,
textarea {
  height: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  border-width: 1px;
  max-width: 600px;
  padding: 5px 10px;
}

textarea {
  height: 100px;
  font-size: 17px;
  padding: 10px 10px;
}

button {
  width: 125px;
  height: 35px;
  background-color:yellowgreen;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  border-width: 1px;
  font-weight: bold;
}

.footer {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  background-color: whitesmoke;
  color:rgb(32, 75, 150);
  width: 100%;
  padding:15px;
}

.footer a {
  text-decoration: none;
  color:rgb(32, 75, 150);
}

/* .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */