/* HOME = fullscreen wallpaper -------------------------------- */

.home-page {
  width: 100%;
  min-height: 100vh;
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* make sure the scene fills the space between nav + footer */
.home-page .mh-scene {
  width: 100%;
  min-height: calc(100vh - 120px); /* tweak if your nav/footer heights differ */
}